---
import Layout from "../layouts/Layout.astro";

//componentes
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/Experience.astro";
import Proyects from "../components/Proyects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Portafolio-Diego Lineares">
  <main>
    <Header />
    <Hero />
    <About />
    <Skills />
    <Experience />
    <Proyects />
    <Contact />
    <Footer />
  </main>
</Layout>
